@model Call_Logger.Models.Call
@using Call_Logger.Models


@{
    var selectListItems = new[]
    {

        new SelectListItem() { Value = "Open", Text = "Open", Selected = true },
        new SelectListItem() { Value = "Hold", Text = "Hold", Selected = false },
        new SelectListItem() { Value = "Closed", Text = "Closed", Selected = false }
    };

    var selectListReps = new[]
    {
        new SelectListItem() { Value = null, Text = null, Selected = true },
        new SelectListItem() { Value = "Luz Acosta", Text = "Luz Acosta", Selected = false },
        new SelectListItem() { Value = "Chris Ashby", Text = "Chris Ashby", Selected = false },
        new SelectListItem() { Value = "Maren Boehm", Text = "Maren Boehm", Selected = false },
        new SelectListItem() { Value = "Carlos Herrera", Text = "Carlos Herrera", Selected = false },
        new SelectListItem() { Value = "Trina Hinkle", Text = "Trena Hinkle", Selected = false },
        new SelectListItem() { Value = "Veronica Lindsey", Text = "Veronica Lindsey", Selected = false },
        new SelectListItem() { Value = "Alice Roques", Text = "Alice Roques", Selected = false },
        new SelectListItem() { Value = "Greg Sherman", Text = "Greg Sherman", Selected = false },
        new SelectListItem() { Value = "Yasilda Stoner", Text = "Yasilda Stoner", Selected = false }
    };
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary("The following errors were found:", new { @class = "alert alert-danger" })

    <div class="row">

        <div class="col-md-6">

            <div class="form-group">
                @Html.Label("Call ID: ")
                @Html.DisplayFor(m => m.ID, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.Label("Date")
                @Html.TextBoxFor(m => m.Call_TS, new { @class = "form-control datepicker" })
            </div>

            <div class="form-group">
                @Html.Label("Operator")
                @Html.DropDownListFor(m => m.Call_Rep, selectListReps, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.Label("Call Status")
                @Html.DropDownListFor(m => m.Call_Status, selectListItems, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.Label("Registrant ID")
                @Html.TextBoxFor(m => m.Registrant_ID, new { @class = "form-control" })
            </div>
            
        </div>
        
        <div class="col-md-6">

            <div class="form-group">
                @Html.Label("Summary")
                @Html.TextBoxFor(m => m.Call_Summary, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.Label("Call Notes")
                @Html.TextAreaFor(m => m.Notes, 14, 20, new { @class = "form-control" })
            </div>

        </div>

        <div class="col-md-12">
            <div class="pad-top">
                <button type="submit" class="btn btn-success btn-lg margin-right">
                    <span class="glyphicon glyphicon-save"></span> Save
                </button>
                <a href="@Url.Action("Index")" class="btn btn-info btn-lg">
                    <span class="glyphicon glyphicon-remove"></span> Cancel
                </a>
            </div>
        </div>
    </div>
}