@model Call_Logger.Models.Call

@{
    ViewBag.Title = "VNS Call Log Detail";
    ViewBag.ShowBackBar = true;
}
<h1>Call ID: @Model.ID</h1>
<h2>Operator: @Model.Call_Rep</h2>
<h2>Date: @Model.Call_TS</h2>
        
<h2>Status: @Model.Call_Status</h2>
<h2>Registrant: @Model.Registrant_ID</h2>
<h4>Summary: </h4>
<div>@Html.Raw(Model.Call_Summary)</div>
}

