@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    <h1>Call ID: @ViewBag.CallID</h1>
        <h2>Operator: @ViewBag.CustRep</h2>
        <h2>Date: @ViewBag.CallTS</h2>
        
        <h2>Status: @ViewBag.CallStatus</h2>
        <h2>Registrant: @ViewBag.RegistrantID</h2>
        <h4>Summary: </h4>
        <div>@Html.Raw(ViewBag.Summary)</div>
        @if (ViewBag.TopicFlags.Length > 0)
        {
            <h5>Call Topics:</h5>
            <div>
                <ul>
                     @foreach (var topicFlag in ViewBag.TopicFlags)
                    {
                        <li>@topicFlag</li>
                    }
                </ul>
            </div>
        }
    </div>
</body>
</html>
