@model Call_Logger.Models.Call[]

@{
    ViewBag.Title = "Call Log";
    ViewBag.ShowBackBar = false;
}

<h2>@ViewBag.Title</h2>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        @TempData["Message"]
    </div>
}

<table class="table">
    <tr>
        <th>Call ID</th>
        <th>Date</th>
        <th class="hidden-xs">Operator</th>
        <th>Call Status</th>
        <th>Summary</th>
        <th>&nbsp;</th>
    </tr>

    @foreach (var call in Model)
    {

        <tr>
            <td>@call.ID</td>
            <td>@call.Call_TS</td>
            <td>@call.Call_Rep</td>
            <td>@call.Call_Status</td>
            <td>@Html.Raw(call.Call_Summary)</td>
            <td>
                <div class="pull-right">
                    <a href="@Url.Action("Edit", new { id = call.ID })" class="btn btn-warning btn-sm margin-right">
                        <span class="glyphicon glyphicon-edit"></span><span class="hidden-xs"> Edit</span>
                    </a>
                    <a href="@Url.Action("Delete", new { id = call.ID })" class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-trash"></span><span class="hidden-xs"> Delete</span>
                    </a>
                </div>
            </td>
        </tr>        
    }
    </table>

    