@model Call_Logger.Models.Call[]
@using Call_Logger.Models

@{
    ViewBag.Title = "Call Log";
    ViewBag.ShowBackBar = false;
}

<h2>@ViewBag.Title</h2>
<br />
<a href="@Url.Action("Logout", "Account")">Logout</a>

@{
    ViewBag.Title = "LoggedIn";
}

@if (Session["UserID"] != null)
{
    <h4>Logged in as:  @Session["Username"].ToString()</h4>
}
<br />
<br />

    @if (TempData["Message"] != null)
    {
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            @TempData["Message"]
        </div>
    }

    <table id="calltable" cellspacing="0" cellpadding="0" class="table">
        
         <thead class="th.headerSortUp th.headerSortDown">
            <tr>
                <th>ID</th>
                <th>Date/Time</th>
                <th> Operator</th>
                <th>Status</th>
                <th class="hidden-xs">Summary</th>
                <th>&nbsp;</th>
            </tr>
        </thead>

        <tbody>
                       
             @foreach (var call in Model)
            {
                 <tr>
                    <td>@call.ID</td>
                    <td>@call.Call_TS</td>
                    <td>@call.Call_Rep</td>
                    <td>@call.Call_Status</td>
                    <td class="hidden-xs">@Html.Raw(call.Call_Summary)</td>
                    <td>
                        <div class="pull-right">
                            <a href="@Url.Action("Detail", new { id = call.ID })" class="btn btn-success btn-sm margin-right">
                                <span class="glyphicon glyphicon-info-sign"></span><span class="hidden-xs"> Detail</span>
                            </a>
                            <a href="@Url.Action("Edit", new { id = call.ID })" class="btn btn-danger btn-sm margin-right">
                                <span class="glyphicon glyphicon-edit"></span><span class="hidden-xs"> Edit</span>
                            </a>
                            <a href="@Url.Action("Delete", new { id = call.ID })" class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-trash"></span><span class="hidden-xs"> Delete</span>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
     </table>
